$navbar-breakpoint: 10000px; // always show burger menu
@import "theme/_main";

// You can add additional styling here
.navbar-item img {
  max-height: 2.5em;
}
.navbar-logo_text {
  white-space: nowrap;
  margin-left: 0.75em;
  font-size: 1.4em;
}

.floatingHero.home {
  .feature-content {
    text-align: left;
    width: 800px;
    margin: auto;
    max-width: 100%;
  }
  .feature-description {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: $navbar-breakpoint) {
  .navbar {
    // background: $navbar-background-color!important
    &--hasWhiteText {
      .navbar-logo_text {
        color: #FAF0CA; }
      .navbar-burger {
        color: #FAF0CA; } } } }

.features {
  background: #FAF0CA;
  padding-top: 4rem;
  padding-bottom: 4rem; }
